#hero-section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 16px;
    width: 90%;
    
}
#notes{
    display: grid;
    width: 80%;
    grid-template-columns: repeat(2, auto);
    justify-content: space-around;
    font-size: 0.8rem;
    color: darkgrey;
    margin-bottom: 4rem;
}

#icon .symbol{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;
    cursor: pointer;
    padding: 0.5rem;

}
.symbol:hover{
    background-color: #f0f0f0;
    border-radius: 4px;
}