:root {
  --primary-color: rgb(0, 0, 0);
  --secondary-color: darkgrey;
  --secondary-color-hover: #131212;
  --background-color: #d2d2d2;

  --border-color: #e6e1e1;

  --primary-text-color: black;
  --secondary-text-color: rgb(255, 255, 255);
  --nav-text-color: rgb(46, 46, 46);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-family: BBCReithSerif-fallback, serif;
    /*background-color: var(--background-color);*/
}